<!-- _navbar.html -->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top custom-navbar">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'core:landing_page' %}">
            <img src="{% static 'core/images/tuvalo_logo.png' %}" alt="Tuvalo City Logo" height="80" class="d-inline-block align-text-top me-2">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:landing_page' %}#intro">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:landing_page' %}#about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:all_cities' %}">Cities</a>
                </li>
                <li class="nav-item ms-lg-3 mt-3 mt-lg-0">
                    <a class="btn btn-primary custom-btn" href="{% url 'core:landing_page' %}#contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
